/* Basic setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.3;
}
body {
  font-family: "Roboto", sans-serif;
}
/* Main section style */
section {
  margin-top: 50px;
}
.row {
  max-width: 1200px;
  margin: 0 auto;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.half-width img {
  width: 400px;
  height: auto;
  margin-left: 100px;
}
.half-width h1 {
  font-size: 42px;
}
.description p {
  margin-top: 10px;
  font-size: 16px;
}
.half-width .option {
  margin-top: 25px;
}
.half-width input:hover {
  background: #000;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.option input {
  padding: 10px;
}
input[type="text"]:focus {
  outline: 1px solid #000;
}
.price {
  margin-top: 30px;
  width: 300px;
}
.price .item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.half-width .horizontal-line {
  width: 350px;
  color: #000;
  margin-top: 10px;
}
.second-horizontal {
  color: rgba(74, 72, 72, 0.1);
  margin-top: 20px;
}
.total {
  text-align: center;
}

/* Apply button style  */
.discount {
  margin-top: 20px;
}
.discount input {
  padding: 8px 16px;
}
.discount input:hover {
  background: #fff;
  color: #000;
}
#apply-btn {
  padding: 8px 20px;
  background: maroon;
  color: #fff;
  cursor: pointer;
}
